###  Note

For the next phase of the project, we are using **only the data from the year 2023** for loading into **BigQuery** and for building the **Tableau visualizations**. This helps reduce dataset size, stay within Sandbox upload limits, and improves processing performance while maintaining analytical accuracy.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_us_accidents.csv')

In [4]:
df_2023 = df[df["year"] == 2023]

In [7]:
df_2023 = df_2023.rename(columns={"day/night": "day_night"})

In [9]:
df_2023 = df_2023.rename(columns={
    "temperature(f)": "temperature_f",
    "humidity(%)": "humidity_percent",
    "pressure(in)": "pressure_in",
    "visibility(mi)": "visibility_mi",
    "wind_speed(mph)": "wind_speed_mph"
})

In [10]:
df_2023.to_csv('us_accidents_2023.csv')

In [13]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235304 entries, 3204246 to 4903114
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   severity              235304 non-null  int64
 1   severity_level        235304 non-null  object
 2   start_time            235304 non-null  object
 3   year                  235304 non-null  int64
 4   month                 235304 non-null  int64
 5   day                   235304 non-null  int64
 6   day_of_week           235304 non-null  object
 7   hour                  235304 non-null  int64
 8   is_weekend            235304 non-null  bool
 9   day_night             235304 non-null  object
 10  sunrise_sunset        235304 non-null  object
 11  city                  235304 non-null  object
 12  county                235304 non-null  object
 13  state                 235304 non-null  object
 14  start_lat             235304 non-null  float64
 15  start_lng             235304 non-null  float64
 16  temperature_f         235304 non-null  float64
 17  humidity_percent      235304 non-null  int64
 18  pressure_in           235304 non-null  float64
 19  visibility_mi         235304 non-null  float64
 20  wind_speed_mph        235304 non-null  float64
 21  wind_direction        235304 non-null  object
 22  precipitationupdate   235304 non-null  float64
 23  temperature_category  235304 non-null  object
 24  visibility_category   235304 non-null  object
 25  wind_speed_category   235304 non-null  object
 26  traffic_signal        235304 non-null  object
 27  weather_condition     235304 non-null  object
dtypes: bool(1), float64(7), int64(6), object(14)
memory usage: 50.5+ MB

In [16]:
df_2023[['start_lat','start_lng']].head(5)

         start_lat   start_lng
3204246  45.676472  -94.174568
3204247  41.391812  -75.467365
3204248  40.850278  -73.946140
3204249  33.714992  -84.300188
3204250  33.927671 -118.266385