In [38]:
# importing libraries
import pandas as pd
import numpy as np

In [3]:
# loadind the dataset
df = pd.read_csv('accident.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7061773 entries, 0 to 7061772
Data columns (total 35 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     int64
 1   Severity               int64
 2   Start_Time             object
 3   Start_Lat              float64
 4   Start_Lng              float64
 5   Distance(mi)           float64
 6   City                   object
 7   County                 object
 8   State                  object
 9   Zipcode                object
 10  Temperature(F)         float64
 11  Humidity(%)            int64
 12  Pressure(in)           float64
 13  Visibility(mi)         float64
 14  Wind_Direction         object
 15  Wind_Speed(mph)        float64
 16  Weather_Condition      object
 17  Amenity                object
 18  Bump                   object
 19  Crossing               object
 20  Give_Way               object
 21  Junction               object
 22  No_Exit                object
 23  Railway                object
 24  Roundabout             object
 25  Station                object
 26  Stop                   object
 27  Traffic_Calming        object
 28  Traffic_Signal         object
 29  Turning_Loop           object
 30  Sunrise_Sunset         object
 31  Civil_Twilight         object
 32  Nautical_Twilight      object
 33  Astronomical_Twilight  object
 34  PrecipitationUpdate    float64
dtypes: float64(8), int64(3), object(24)
memory usage: 1.8+ GB

In [5]:
df.head(5)

,ID,Severity,Start_Time,Start_Lat,Start_Lng,Distance(mi),City,County,State,Zipcode,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,PrecipitationUpdate
0,3,2,2016-02-08 06:49:27,39.063148,-84.032608,0.01,Williamsburg,Clermont,OH,45176,...,N,N,N,Y,N,Night,Night,Day,Day,0.01
1,4,3,2016-02-08 07:23:34,39.747753,-84.205582,0.01,Dayton,Montgomery,OH,45417,...,N,N,N,N,N,Night,Day,Day,Day,0.01
2,5,2,2016-02-08 07:39:07,39.627781,-84.188354,0.01,Dayton,Montgomery,OH,45459,...,N,N,N,Y,N,Day,Day,Day,Day,0.01
3,6,3,2016-02-08 07:44:26,40.100590,-82.925194,0.01,Westerville,Franklin,OH,43081,...,N,N,N,N,N,Day,Day,Day,Day,0.03
4,7,2,2016-02-08 07:59:35,39.758274,-84.230507,0.00,Dayton,Montgomery,OH,45417-2476,...,N,N,N,N,N,Day,Day,Day,Day,0.01

In [6]:
# checking if there are null values in dataset
df.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
City                     0
County                   0
State                    0
Zipcode                  0
Temperature(F)           0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
PrecipitationUpdate      0
dtype: int64

In [7]:
# changing column names into lower letters and replacing empty space with _
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [8]:
df.columns

Index(['id', 'severity', 'start_time', 'start_lat', 'start_lng',
       'distance(mi)', 'city', 'county', 'state', 'zipcode', 'temperature(f)',
       'humidity(%)', 'pressure(in)', 'visibility(mi)', 'wind_direction',
       'wind_speed(mph)', 'weather_condition', 'amenity', 'bump', 'crossing',
       'give_way', 'junction', 'no_exit', 'railway', 'roundabout', 'station',
       'stop', 'traffic_calming', 'traffic_signal', 'turning_loop',
       'sunrise_sunset', 'civil_twilight', 'nautical_twilight',
       'astronomical_twilight', 'precipitationupdate'],
      dtype='object')

In [11]:
# creating a new column severity_level based on severity
severity_map = {
    1: "Low",
    2: "Moderate",
    3: "High",
    4: "Severe"
}

df["severity_level"] = df["severity"].map(severity_map)

In [36]:
df[['severity','severity_level']].head(5)

   severity severity_level
0         2       Moderate
1         3           High
2         2       Moderate
3         3           High
4         2       Moderate

In [40]:
# creating a new column temperature_category based on temperature
conditions = [
    df["temperature(f)"] < 40,
    (df["temperature(f)"] >= 40) & (df["temperature(f)"] <= 70),
    df["temperature(f)"] > 70
]

choices = ["Cold", "Moderate", "Hot"]

df["temperature_category"] = np.select(conditions, choices, default="Unknown")

In [45]:
df[['temperature(f)','temperature_category']].head(5)

   temperature(f) temperature_category
0            36.0                 Cold
1            35.1                 Cold
2            36.0                 Cold
3            37.9                 Cold
4            34.0                 Cold

In [47]:
# creating a new column visibility_category based on visibility
conditions = [
    df["visibility(mi)"] <= 2,
    (df["visibility(mi)"] > 2) & (df["visibility(mi)"] <= 5),
    (df["visibility(mi)"] > 5) & (df["visibility(mi)"] <= 10),
    df["visibility(mi)"] > 10
]

choices = ["very_low", "low", "normal", "high"]

df["visibility_category"] = np.select(conditions, choices, default="unknown")

In [49]:
# creating a new column wind_speed_category based on wind_speed
conditions = [
    df["wind_speed(mph)"] <= 10,
    (df["wind_speed(mph)"] > 10) & (df["wind_speed(mph)"] <= 20),
    df["wind_speed(mph)"] > 20
]

choices = ["low", "moderate", "high"]

df["wind_speed_category"] = np.select(conditions, choices, default="unknown")

In [53]:
# creating a new column day/night based on time
df['start_time'] = pd.to_datetime(df['start_time'])
df["day/night"] = df["start_time"].dt.hour.apply(
    lambda x: "day" if 6 <= x < 18 else "night"
)

In [54]:
# checking our new columns
df[['visibility(mi)','visibility_category',
   'wind_speed(mph)', 'wind_speed_category', 'day/night']].head(5)

,visibility(mi),visibility_category,wind_speed(mph),wind_speed_category,day/night
0,10.0,normal,3.5,low,day
1,9.0,normal,4.6,low,day
2,6.0,normal,3.5,low,day
3,7.0,normal,3.5,low,day
4,7.0,normal,3.5,low,day

In [20]:
# ensuring 'start_time' is in correct format
df['start_time'] = pd.to_datetime(df['start_time'])

In [34]:
# creating column year, month, day, day_of_week and is_weekend based on start_time
df['year'] = df.start_time.dt.year
df['month'] = df.start_time.dt.month
df['day'] = df.start_time.dt.day
df['day_of_week'] = df.start_time.dt.day_name()
df['is_weekend'] = df.day_of_week.isin(["Saturday","Sunday"])

In [33]:
df[['start_time','year','month','day','day_of_week','is_weekend']].head(5)

           start_time  year  month  day day_of_week  is_weekend
0 2016-02-08 06:49:27  2016      2    8      Monday       False
1 2016-02-08 07:23:34  2016      2    8      Monday       False
2 2016-02-08 07:39:07  2016      2    8      Monday       False
3 2016-02-08 07:44:26  2016      2    8      Monday       False
4 2016-02-08 07:59:35  2016      2    8      Monday       False

In [62]:
# deleting columns which we don't need
cols_to_drop = [
    "amenity", "bump", "crossing", "give_way", "junction", 
    "no_exit", "railway", "roundabout", "station", "stop", 
    "traffic_calming", "turning_loop",
    "civil_twilight", "nautical_twilight", "astronomical_twilight",
    "zipcode", "distance(mi)",
    "id"
]

df = df.drop(columns=cols_to_drop, errors="ignore")

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7061773 entries, 0 to 7061772
Data columns (total 28 columns):
 #   Column                Dtype
---  ------                -----
 0   severity              int64
 1   start_time            datetime64[ns]
 2   start_lat             float64
 3   start_lng             float64
 4   city                  object
 5   county                object
 6   state                 object
 7   temperature(f)        float64
 8   humidity(%)           int64
 9   pressure(in)          float64
 10  visibility(mi)        float64
 11  wind_direction        object
 12  wind_speed(mph)       float64
 13  weather_condition     object
 14  traffic_signal        object
 15  sunrise_sunset        object
 16  precipitationupdate   float64
 17  severity_level        object
 18  year                  int32
 19  month                 int32
 20  day_of_week           object
 21  hour                  int32
 22  is_weekend            bool
 23  day                   int32
 24  temperature_category  object
 25  visibility_category   object
 26  wind_speed_category   object
 27  day/night             object
dtypes: bool(1), datetime64[ns](1), float64(7), int32(4), int64(2), object(13)
memory usage: 1.3+ GB

In [68]:
# arranging columns
new_order = [
    # Severity
    "severity", "severity_level",
    
    # Time
    "start_time", "year", "month", "day", "day_of_week", "hour", 
    "is_weekend", "day/night", "sunrise_sunset",
    
    # Location
    "city", "county", "state", "start_lat", "start_lng",
    
    # Weather raw values
    "temperature(f)", "humidity(%)", "pressure(in)", "visibility(mi)", 
    "wind_speed(mph)", "wind_direction", "precipitationupdate",
    
    # Engineered categories
    "temperature_category", "visibility_category", "wind_speed_category",
    
    # Other road/weather conditions
    "traffic_signal", "weather_condition"
]

df = df[new_order]

In [69]:
# saving cleaned dataset
df.to_csv('cleaned_us_accidents.csv', index = False)